@keyframes clock-hand {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes question-mark {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(40deg);
  }
}

@keyframes snow-fall {
  from {
    transform: translateY(0px);
    transform: translateX(0px);
  }
  to {
    transform: translateY(85%);
    /* transform: translateX(20px); */
  }
}

@keyframes foot-tapping {
  from {
    transform: rotateZ(0deg) translateY(0px);
    /* transform: ; */
  }
  to {
    transform: rotateZ(20deg) translateY(4px);
    /* transform: ); */
  }
}

#clockHand {
  animation: clock-hand 60s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}

#Foot {
  animation: foot-tapping 2s infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}

[id^="snow"] {
  animation: snow-fall 1s infinite ease-in-out;
}
[id^="question-mark"] {
  animation: question-mark 2.5s infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}

svg:hover [id^="question-mark"] {
  animation-play-state: paused;
}
